#page-wrapper {
    max-width: 1000px;
    margin: 0 auto;
}

td {
    padding: 10px;
    font-weight: bold;
}

#settings-container {
  max-width: 1000px;
  margin: 0 auto;
}

.buttons {
  background-color: #c81e6e;
  margin: .5em 8px .5em 0;
  padding: 6px 12px;
  border: 0;
  line-height: 1.1;
  border-radius: 6px;
  color: #f7feff;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  font-size: 15px;
  font-family: sans-serif;
  cursor: pointer;
  transition: background .6s ease;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}








































